<% layout('layout') -%>
<h1>About Us</h1>

<p>CosmeXO is a beauty and cosmetics online store that connects you to the latest beauty trend of Japan. We are based in Tokyo, specializing in retail trading of Japanese branded makeup and skincare products.</p>

<p>All our products are 100% authentic and brand new. Your order is guaranteed to be sent from Tokyo within 2 working days. Each item is carefully packed to make sure your order arrives safely.</p>

<p>The heart of CosmeXO is about offering you great deals, the best selection and an efficient shipping system. With customer satisfaction as our motto, we are dedicated to bring you the trendy and exclusive Japanese makeup right to your door.</p>

<p>Thanks for taking the time to meet us and find out about our store.</p>

<p>
  Please don't hesitate to reach us using
  <%- utils.link_to('/contactUs', 'our contact form') %>.
</p>

<p>We would love to hear from you.</p>

<p>Love,<br>The CosmeXO Team</p>

<p><%- utils.link_to('/', URL) %></p>
