<% layout('layout') -%>
<div class="col-md-12" id="brands">
  <h1>All Companies and Brands</h1>
  <% if (alert) { %>
  <div class="alert alert-warning">
    <b>Error</b>: could not find the brand <b><%= alert %></b>. You will find
    the complete list of available brands below.
  </div>
  <% } %>
  <% if (error) { %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
  <% } else { %>
  <ul>
    <% for (var ic=0; ic<companies.length; ic++) { %>
    <li>
      <%= companies[ic].name %>
      <ul>
        <% for (var ib=0; ib<companies[ic].brands.length; ib++) {
          brand = companies[ic].brands[ib]; %>
        <li>
          <%- utils.link_to("/brands/" + brand.name, brand.name) %>
        </li>
        <% } %>
      </ul>
    </li>
    <% } %>
  </ul>
  <% } // end of else %>