<% layout('layout') -%>
<div class="col-md-12" id="categories">
  <h1>All Categories</h1>
  <% if (alert) { %>
  <div class="alert alert-warning">
    <b>Error</b>: could not find the category <b><%= alert %></b>. You will find the complete list of available categories below.
  </div>
  <% }
    if (error) { %>
  <div class="alert alert-danger">
    <p><%= error %></p>
  </div>
  <% } else { %>
    <%- utils.displayCategoryTree(catTree, 2, 0) %>
  <% } %>
