<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CosmeXO, Beauty & Cosmetics Online Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shop online with the best selection of Beauty & Cosmetics products from Asia on CosmeXOXO">
    <meta name="author" content="Lulu Yin">
    
    <!-- Styles -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    
    <link rel="shortcut icon" href="/images/favicon.ico?v=2">
  </head>

  <body>
    <div class="container">
      <!-- header + navbar -->
      <div class="row-fluid">
        <div class="span6">
          <a href="/"><img src="images/header.png"></a>
        </div>
        <div class="contact-search span4">
          <div class="span12">
            <a href="#"><button class="btn btn-large btn-link"><i class="icon-envelope"></i> Contact Us</button></a>
          </div>
          <div class="span12">
            <div class="input-append" >
              <input type="text" class="span12">
              <button class="btn btn-primary" type="button"><i class="icon-search icon-white"></i> Search</button>
            </div>
          </div>
        </div>
        <div class="span2" style="text-align:center">
          <a href="#"><img src="images/shopping_basket_fushia.png">
          <button class="btn btn-large btn-link">Checkout</button></a>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a href="#" class="brand active"><i class="icon-home icon-white" style="margin-top:8px"></i> CosmeXO</a>
            <ul class="nav">
              <li class="dropdown">
                <a href="#">By Brand <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Brands</li>
                  <li><a href="#">Shiseido</a></li>
                  <li><a href="#">Kanebo</a></li>
                  <li class="divider"></li>
                  <li class="img"><a href="#"><img src="http://placehold.it/150x50"></a></li>
                </ul>
              </li>
              <li><a href="#">Point Makeup</a></li>
              <li><a href="#">Base Makeup</a></li>
              <li><a href="#">Skin Care</a></li>
              <li><a href="#">Health & Fitness</a></li>
              <li><a href="#">New</a></li>
            </ul>
          </div>
        </div>
      </div>
      
<%- body %>
      
    </div> <!-- end container -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
