<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CosmeXOXO, Beauty & Cosmetics Online Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shop online with the best selection of Beauty & Cosmetics products from Asia on CosmeXOXO">
    <meta name="author" content="Lulu Yin">
    
    <!-- Styles -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" media="all">
    
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div class="container">
      <!-- header + navbar -->
      <div class="row-fluid">
        <div class="span10">
          <a href="/"><img src="images/header.png"></a>
        </div>
        <div class="span2" style="text-align:center">
          <a href="#"><img src="images/shopping_basket_red.png">
          <h3>Checkout</h3></a>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      
<%- body %>
      
    </div> <!-- end container -->
  </body>
</html>
