<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CosmeXO, Beauty & Cosmetics Online Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shop online with the best selection of Beauty & Cosmetics products from Asia on CosmeXOXO">
    <meta name="author" content="Lulu Yin">
    
    <!-- Styles -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" media="all">
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div class="container">
      <!-- header + navbar -->
      <div class="row-fluid">
        <div class="span6">
          <a href="/"><img src="images/header.png"></a>
        </div>
        <div class="span4">
          <div class="span12">
            <a href="#"><button class="btn btn-large btn-link"><i class="icon-envelope"></i> Contact Us</button></a>
          </div>
          <div class="span12">
            <div class="input-append">
              <input type="text" class="span12">
              <button class="btn btn-primary" type="button"><i class="icon-search icon-white"></i> Search</button>
            </div>
          </div>
        </div>
        <div class="span2" style="text-align:center">
          <a href="#"><img src="images/shopping_basket_fushia.png">
          <button class="btn btn-large btn-link">Checkout</button></a>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
              <li><a href="#">Shop By Brand</a></li>
              <li><a href="#">Point Makeup</a></li>
              <li><a href="#">Base Makeup</a></li>
              <li><a href="#">Skin Care</a></li>
              <li><a href="#">Health & Fitness</a></li>
              <li><a href="#">What's New</a></li>
            </ul>
          </div>
        </div>
      </div>
      
<%- body %>
      
    </div> <!-- end container -->
  </body>
</html>
