<div class="row">
<% if (state=='success') { %>
  <h1>Success!</h1>
  <p>You paid for the order!</p>
<% } else { %>
  <h1>Failure</h1>
  <p>The payment was not fully processed because the status is marked as <%= reason %>.</p>
<% } %>
</div>