<% layout('layout') -%>
<h1>Shipping & Return</h1>

<p>ALL ORDERS SHIP FROM TOKYO, JAPAN</p>

<p>We aim to process and send your order within 2-4 working days. Orders placed on weekend will be processed from Monday.</p>

<p>We select Japan Post which offers the best international delivery service for you.</p>

<p>Orders over USD 59 are automatically sent by Express Mail Service (EMS). EMS offers tracked air delivery and full insurance coverage of your package as the value declared. Orders usually arrive at your door within 2-7 days.  We will notice you to your PayPal registered mailing address enclosing the tracking number of package.</p>

<p>For Orders under USD 59, please feel free to select EMS or International ePacket which you think is best for you. Please note that International ePacket type delivery usually takes 7-15 days and offers limited insurance up to USD 6000.</p>

<p>Large orders may be sent as one large package or split into smaller parcels. For orders of over 10 of the specific variations/ products, please contact us personally through our contact form.</p>

<h2>Customs duty and import taxes</h2>

<p>We cannot be held responsible for any import tax/customs duties as this will depend on the destination country.  The value of your order will be stated on your package due to customs authorities’ requirement.</p>

<h2>Shipping cost</h2>

<h3>EMS</h3>

<p>Tracked Air Delivery, insurance fully coverage</p>

<ul>
  <li>Asia Zone starts from USD 10</li>
  <li>US /Australia Zone starts from USD 12</li>
  <li>Europe Zone starts from USD 15</li>
  <li>Africa Zone starts from USD 17</li>
</ul>

The shipping costs are indicated at the checkout and are based on the weight of items you order.

<h2>Payment</h2>

<p>All credit card transactions are securely processed by PayPal. It is not necessary to register a PayPal account in order to make a payment.</p>

<h2>Return</h2>

<p>Please choose your purchase carefully as all deals are final. Due to the hygiene reasons, no return or exchanges are accepted on any product unless proven faulty.</p>

<p>Please contact us immediately in following circumstances:</p>

<ul>
  <li>
    <p>Damaged items</p>
    <p>If the product is damaged and unusable, please keep the box as well as products and contact us within 3 days when you receive the package, enclosing and picture of the damaged products and your invoice number.  Please note that if only the box is damaged but items remained intact, the insurance doesn’t cover.</p>
  </li>
  <li>
    <p>Lost items</p>
    <p>Please contact us immediately if you believe your package has been lost, so we can track the package and file an insurance claim.</p>
  </li>
</ul>

<p>For more information on approximate days required for EMS delivery check <%- utils.link_to('http://www.post.japanpost.jp/int/deli_days/ems/tokai_en.html', 'the Japan Post website') %>.</p>

<p>Note, in rare occasions custom agents may delay delivery of some packages. Please contact your local customs office first before claiming lost package.</p>

<h2>Faulty delivery</h2>

<p>If the goods you have received are faulty which are different from your original order, this must contact us within 5 days. Please don’t test the product before you send it back to us with tracking delivery. We will send your correct order soon after we received the package. Your return shipping cost will be refunded or you can choose another product with an equal value.</p>

<h2>Out of stock</h2>

<p>If the goods you order are currently out of stock or discontinued as limited/seasonal collection, we will notice you as soon as possible after your order are placed. Your purchase will be refunded or you can choose another substitute product.</p>

<h2>Pre-Order</h2>

<p>For limited/seasonal collection, we recommend you to place the pre-order. We will process your order and send to you within 2 working days as soon as when the goods are officially released for sale.</p>
