<% layout('layout') -%>
<h1>Shipping & Return</h1>

<p>ALL ORDERS SHIP FROM TOKYO, JAPAN</p>

<p>We aim to process and send your order within 2 working days. Orders placed on weekend will be processed from Monday.</p>

<p>We select Japan Post which offers the best international delivery service for you.</p>

<p>Orders over USD 59 are recommended to select Express Mail Service (EMS). EMS offers tracked air delivery and full insurance coverage of your package as the value declared. Orders usually arrive at your door within 2-7 days.  We will notice you to your PayPal registered mailing address enclosing the tracking number of package.</p>

<p>Please feel free to select EMS or trackable International small packet, whichever you think is best for you. Please note that International small packet type delivery usually takes 2 weeks.</p>

<p>Large orders may be sent as one large package or split into smaller parcels. For orders of over 10 of the specific variations/ products, please contact us personally through our contact form.</p>

<h2>Customs duty and import taxes</h2>

<p>We cannot be held responsible for any import tax/customs duties as this will depend on the destination country.  The value of your order will be stated on your package due to customs authorities’ requirement.</p>

<h2>Shipping cost & tracking</h2>

<h3>Registered International Packet USD 5</h3>

<p>Please note that for Registered International Packet, there is no online tracking service provided by Japan Post. The tracking number of Registered International Packet is listed for your information and it is required in case of filing lost package claim.</p>

<p>If you believe the parcel has been lost, we will contact Japan Post office to proceed with a lost package claim. Once the Package has been sent out from Japan we may need your cooperation to check the status of parcel with your local Post Office. Lost package claims may be filed between 45 and 90 days after shipment. The process may take a month or longer.</p>

<p>We've rarely had a registered international packet lost (although sometimes it will be returned if the destination address is wrong), and it is recommended for the orders under USD 100.</p>

<p>It may take 10-15 days to arrive at your place. In some cases, it may take longer due to the handling system and customs policies of the destination country.</p>

<h3>EMS</h3>

<p>Tracked Air Delivery, full insurance coverage</p>

<ul>
  <li>Asia Zone starts from USD 10</li>
  <li>US /Australia Zone starts from USD 12</li>
  <li>Europe Zone starts from USD 15</li>
  <li>Africa Zone starts from USD 17</li>
</ul>

The shipping costs are indicated at the checkout and are based on the weight of items you order.

<p>We highly recommend you to choose EMS shipping, especially for orders over USD 100. EMS provides full-insurance coverage, speedy delivery and real-time online tracking service.</p>

<p>To confirm delivery status, real-time online tracking is available at <%- utils.link_to('http://www.post.japanpost.jp/int/ems/index_en.html', 'Japan Post official website') %></p>

<h2>Payment</h2>

<p>All credit card transactions are securely processed by PayPal. It is not necessary to register a PayPal account in order to make a payment.</p>

<h2>Return</h2>

<p>Please choose your purchase carefully as all deals are final. Once your order is placed, it is not possible to cancel an order or request changes of the items. Due to the hygiene reasons, no return or exchanges are accepted on any product unless proven faulty.</p>

<p>Please contact us immediately in following circumstances:</p>

<ul>
  <li>
    <p>Damaged items</p>
    <p>If the product is damaged and unusable, please keep the box as well as products and contact us within 3 days when you receive the package, enclosing and picture of the damaged products and your invoice number.  Please note that if only the box is damaged but items remained intact, the insurance doesn’t cover.</p>
  </li>
  <li>
    <p>Lost items</p>
    <p>Please contact us immediately if you believe your package has been lost, so we can track the package and file an insurance claim.</p>
  </li>
</ul>

<p>For more information on approximate days required for EMS delivery check <%- utils.link_to('http://www.post.japanpost.jp/int/deli_days/ems/tokai_en.html', 'the Japan Post website') %>.</p>

<p>Note, in rare occasions custom agents may delay delivery of some packages. Please contact your local customs office first before claiming lost package.</p>

<h2>Faulty delivery</h2>

<p>If the goods you have received are different from your original order, you must contact us within 5 days. Please don’t test the product before you send it back to us with tracking delivery. We will send your correct order soon after we received the package. Your return shipping cost will be refunded or you can choose another product with an equal value.</p>

<h2>Out of stock</h2>

<p>If the goods you order are currently out of stock or discontinued as limited/seasonal collection, we will notice you as soon as possible after your order are placed. Your purchase will be refunded or you can choose another substitute product.</p>

<h2>Pre-Order</h2>

<p>For limited/seasonal collection, we recommend you to place the pre-order. We will process your order and send to you within 2 working days as soon as when the goods are officially released for sale.</p>
