<% layout('layout') -%>
<h1>Terms And Conditions</h1>

<h2>PRIVACY POLICIES</h2>

<p>The CosmeXO team respects each individual’s privacy and is committed to protect your personal information. We will only use this information to process your orders. There is no need to register any account to use our services.</p>

<h2>PRICE & PAYMENT</h2>

<p>All prices are indicated in US Dollars. Shipping cost and customs handling fee are not included in the listed price. The CosmeXO team reserves the right to change the price and modify the discount service without notice at any time.</p>

<p>To ensure the security of online payment, all credit card transactions are securely processed by PayPal. It is not necessary to register a PayPal account in order to make a payment although it is suggested. Please be sure to provide your correct address and telephone number for PayPal processing your payment. Faulty information may cause the failure/error in your payment and delay of placing your order.</p>

<h2>ORDER ACCEPTANCE</h2>

<p>The CosmeXO team reserves the right to refuse or decline any order we have received for any reason.</p>

<h2>SHIPPING</h2>

<p>ALL ORDERS SHIP FROM TOKYO, JAPAN.</p>

<p>We aim to process and send your order within 2 working days. Orders placed on weekend will be processed from Monday.</p>

<p>We select Japan Post which offers the best international delivery service for you.
Orders over USD 59 are recommended to select Express Mail Service (EMS). Orders usually arrive at your door within 2-7 days.  We will give you notice to your PayPal registered mailing address enclosing the tracking number of package.</p>

<p>Please feel free to select speedy EMS or economic International small packet, whichever you think is best for you.
Large orders may be sent as one large package or split into smaller parcels. For further information, please check <%- utils.link_to('/shippingInfo', "Shipping & Return") %>.</p>

<p><b>Please note that all applicable customs fee and foreign taxes are sole responsibility of customer.</b> We cannot be held responsible for any import tax/customs duties as this will depend on the destination country.</p>

<h2>RETURN</h2>

<p>Please choose your purchase carefully as all deals are final. Once your order is placed, it is not possible to cancel an order or request changes of the items.</p>

<p>Due to the hygiene reasons, no return or exchanges are accepted on any product unless proven faulty. If the goods you have received are faulty, please contact us immediately and we will take care of the matter. For further information, please check <%- utils.link_to('/shippingInfo', "Shipping & Return") %>.</p>
