<% layout('layout') -%>
<h1>Thank you for your purchase!</h1>

<p>A confirmation e-mail is being sent to you at your email address: <%= email %>. You should receive it shortly.</p>

<p>You can contact us using the contact form on <a href="/contactUs">this page</a>. For any topic related to your order, please include your invoice number: <b><%= invoiceNumber %></b>.<p>