body {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

@media (min-width: 980px) {
  body {
    padding-bottom: 40px;
  }
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

.contact-search {
  padding-top: 15px;
}

/* navbar colors */
.navbar-inner, .navbar .navbar-btn {
  background: #696d75; /* Old browsers */
  background: -moz-linear-gradient(top, #696d75 1%, #363636 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#696d75), color-stop(100%,#363636)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #696d75 1%,#363636 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #696d75 1%,#363636 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #696d75 1%,#363636 100%); /* IE10+ */
  background: linear-gradient(to bottom, #696d75 1%,#363636 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696d75', endColorstr='#363636',GradientType=0 ); /* IE6-9 */
}

.navbar .navbar-brand, .navbar .nav li a{
  color: #EEEEEE;
  font-weight: bold;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(255,255,255,.9);
  border-bottom: 2px solid #000000;
}

.navbar .nav .active > a,.navbar .navbar-brand.active,
.navbar .nav li.dropdown.open > .dropdown-toggle {
  color: #EEEEEE;
  background-color: #363636;
  font-weight: bold;
}

.navbar .nav li a:hover {
  color: #FFFFFF;
  /*height: 18px;*/
  border-bottom: 2px solid #E61990;
}

.navbar .nav li.img a:hover{
  height: 56px;
  border:1px 1px 1px 1px solid #E61990;
}

.navbar .navbar-brand:hover {
  color: #FFFFFF;
  border-bottom: 2px solid #E61990;
}

.navbar .nav li a:focus  {
  color: #FFFFFF;
}

.navbar .nav > .active > a:focus{
  color: #FFFFFF;
  background-color: #797979;
}

.navbar .nav .active > a:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover {
  color: #FFFFFF;
  background-color: #696969;
}

li.dropdown.open a,
li.dropdown.open a:focus {
  border-bottom: 2px solid #E61990;
  border-right: 1px solid rgba(255,255,255,.9);
}

/* navbar dropdown menus */
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret
{
  border-top-color: #EEEEEE;
  border-bottom-color: #EEEEEE:
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.navbar .nav ul.dropdown-menu li a,
.navbar .nav ul.dropdown-menu li.nav-header {
  color: #66D9EF;
  border-bottom: 0px;
}

ul.dropdown-menu {
  background-color: #272822;
}

.navbar .nav ul.dropdown-menu li a:hover,
.navbar .nav ul.dropdown-menu li a:focus,
.navbar .nav ul.dropdown-menu li.dropdown.open > .dropdown-toggle {
  color: #FFFFFF;
  background-color: #F5177B;
  background-image: none;
}

li.dropdown-submenu > ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu {
  top:0;left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
  float:none;
  }
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}