body {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: 'Didact Gothic', sans-serif;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* debugging
.span3, .span6, .span1, .span8 {
  border: solid 1px red;
}
*/

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .brand {  
  padding-left: 5px;    
  padding-top: 5px;
}

.navbar-inner, .navbar .btn-navbar {
  background: #696d75; /* Old browsers */
  background: -moz-linear-gradient(top, #696d75 1%, #363636 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#696d75), color-stop(100%,#363636)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #696d75 1%,#363636 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #696d75 1%,#363636 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #696d75 1%,#363636 100%); /* IE10+ */
  background: linear-gradient(to bottom, #696d75 1%,#363636 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696d75', endColorstr='#363636',GradientType=0 ); /* IE6-9 */
}

.navbar .brand, .navbar .nav li a{
  color: #EEEEEE;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(255,255,255,.9);
}

.navbar .nav .active > a, .navbar .brand.active {
  color: #EEEEEE;
  background-color: #696969;
  font-weight: bold;
  text-align: center;
}

.navbar .nav li a:hover {
  color: #FFFFFF;
  height: 18px;
  border-bottom: 2px solid #E61990;
}

.navbar .nav li.img a:hover{
  height: 50px;
  border:1px 1px 1px 1px solid #E61990;
}

.navbar .brand:hover {
  color: #FFFFFF;
  height: 22px;
  border-bottom: 2px solid #E61990;
}

.navbar .nav li a:focus  {
  color: #FFFFFF;
}

.navbar .nav > .active > a:focus{
  color: #FFFFFF;
  background-color: #797979;
}

.navbar .nav .active > a:hover {
  color: #FFFFFF;
  background-color: #696969;
}

.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
  margin-top: 0px;
}

.navbar .nav .dropdown .caret {
  border-top-color: #EEEEEE;
  border-bottom-color: #EEEEEE:
}

.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.navbar .nav ul.dropdown-menu {
  background-color:#FFF0FF
}

.navbar .nav ul.dropdown-menu li a, .navbar .nav ul.dropdown-menu li.nav-header {
  color:#000000;
}

.navbar .nav ul.dropdown-menu li a:hover, .navbar .nav ul.dropdown-menu li a:focus {
  background-color:#FFCCFF;
  background-image:none;
}