body {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

@media (min-width: 980px) {
  body {
    padding-bottom: 40px;
  }
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* website header */
#website-header .img-responsive+.badge {
  position: relative;
  top: -35px;
  left: 30px;
}

#website-header .badge {
  background-color: #EEE;
  color: #000;
}

#checkout {
  margin-left: -8px;
}


/* navbar colors */
.navbar .navbar-brand, .navbar .nav li a{
  color: #EEEEEE;
  font-weight: bold;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(255,255,255,.9);
  border-bottom: 2px solid #222222;
}

.navbar .navbar-brand, .navbar .nav > li > a {
  height: 53px;
}

.navbar .nav li a:hover,
.navbar .navbar-brand:hover {
  color: #FFFFFF;
  border-bottom: 2px solid #F5177B;
}

.navbar .nav li.img a:hover{
  height: 56px;
  border:1px 1px 1px 1px solid #F5177B;
}

.navbar .nav li a:focus  {
  color: #FFFFFF;
}

.navbar .nav .active > a:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover {
  color: #FFFFFF;
  background-color: #696969;
}

li.dropdown.open a,
li.dropdown.open a:focus {
  border-bottom: 2px solid #F5177B;
  border-right: 1px solid rgba(255,255,255,.9);
}

/* navbar cart icon and badge */
.navbar .badge {
  background-color: #EEEEEE;
  color: #000000;
}

.navbar .icon {
  color: #F5177B;
  font-weight: normal;
}

/* navbar dropdown menus */
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret
{
  border-top-color: #EEEEEE;
  border-bottom-color: #EEEEEE:
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #66D9EF;
  background-color: #272822;
  border-bottom: 0px;
}

ul.dropdown-menu {
  background-color: #272822;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .nav ul.dropdown-menu li.dropdown.open > .dropdown-toggle {
  color: #FFFFFF;
  background-color: #F5177B;
  background-image: none;
}

li.dropdown-submenu > ul,
ul.columns2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

li.dropdown-submenu > ul.dropdown-menu li a {
  border: 0px
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu {
  top:0;left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
  float:none;
  }
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

.thumbnail .img-responsive {
  max-height: 250px;
}

#productImage .img-responsive {
  max-height: 350px;
}

/* Shopping cart page */
td > a > .img-responsive {
  height: 50px;
  float: left;
}

.td-right {
  text-align: right;
}

.top-space {
  vertical-align: middle;
}

.btn-next {
  margin-bottom: 10px;
}

@media ( min-width: 768px ) {
  .btn-next-top {
    margin-top: 25px;
    margin-bottom: 0px;
  }
}

#checkoutProcess {
  text-align: center;
}

#checkoutProcess .disabled {
  background-color: #FFFFFF;
  color: #000;
  opacity: 1;
}

#checkoutProcess .active {
  background-color: #F5177B;
  color: #FFFFFF;
}

.order-btn {
  margin-top: 5px;
}

.plus-minus-li {
  display: inline;
  list-style-type: none;
}

.plus-minus {
  cursor: pointer;
  width: 22px;
  height: 22px;
  border: none;
}

.minus-button {
  background: url(/images/minus.png) no-repeat;
}

.plus-button {
  background: url(/images/plus.png) no-repeat;
}

/* Search Box */
.gsc-selected-option, .gsc-selected-option-container {
  height:auto !important;
  min-width:75px !important;
  /*padding:10 28px !important;*/
  margin-top:1px;
  text-align:left !important;
}

/* orders */
hr.order-delimiter {
  height: 1px;
  background-color: #999;
}